 header{
  height: 80vh;
  /* background-image: url(cycleman.jpg); */
  /* background-color: #006BAA; */
  background-image: linear-gradient(to right bottom,
  rgba(219,11,94,0.781),
  rgba(111,0,237,0.705)),
  url(cycleman.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 0, 100% 38%, 85% 65%, 0 51%, 0 0);
 }

 header h1{
  color: #fff;
  font-size: 50px;
  padding-top: 15%;
  padding-left: 15%;
  }